<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'web_project/Styles.css' %}">
    <title>The Void</title>
</head>
<body>

    <h1>Welcome to the Void!</h1>

    <p>This is the home page of your web project. Below are some links:</p>

    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="https://www.youtube.com/@TheVoidShaman" target="_blank">Visit my YouTube channel</a></li>
    </ul>

</body>
</html>