<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'web_project/Styles.css' %}">
   
    <title>The Void</title>

</head>
<body>
<div class="box-area">
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="https://www.youtube.com/@TheVoidShaman" target="_blank">VoidShaman</a>
            </div>

            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'video' %}">Video</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="banner-area">
        <h2> Welcome<br>To<br>The<br>Void🌌</h2>
    </div>

    <div class="content-area">
        <div class="wrapper">
            <h2> VoidShaman's Message </h2>
            <p>
                Hi! I'm VoidShaman in this vast void of gaming. Welcome to a realm where 
                pixels come to life, challenges await, and the gaming community thrives on joy, adventure, and positivity.
                I invite you to join me on a personal quest through exciting games, where every victory and setback becomes a shared experience. 
                This channel is not just about playing games; it's a galaxy for fellow gamers seeking others to game with in this fun community.
                Whether you're a seasoned player or new to the gaming scene, This is your digital home—a place where one gamer's adventures echo in the vast expanse of the void.
                <br><br>Click on VOIDSHAMAN to get your experience of the channel started! OR STAY A WHILE AND EXPLORE THE VOID.

            </p>
        </div>
    </div>
</div>
    
   

</body>
</html>