body, html {
    margin: 0;
    padding: 0;
    color: darkorchid;
}


body {
    font-family: Arial, sans-serif;
    background-color: #000000; 
}
header {
    background-color: purple;
    padding: 10px;
    text-align: center;
}

/* Navigation links */
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: "Pacifico";
    letter-spacing: 4px;
    font-size: 20px;
    padding: 16px 5px;
    color: darkorchid;
}
nav a:hover{
    color: darkorchid;
    font-weight: 500;
}

/* Container styles */
.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(22, 22, 22); 
}

/* Form styles */
form {
    margin-bottom: 20px;
}

button {
    padding: 8px 16px;
    background-color: darkorchid;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(105, 20, 148); 
}

/* Message list styles */
ul {
    list-style-type: none;
    padding: 0;
}

li form {
    display: inline-block; 
    margin-right: 1px; 
}

/* Edit and Delete button styles */
form button, a {
    margin-right: 10px;
}

a {
    color: darkorchid;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}