body {
    background-color: rgba(174, 134, 248, 0.986);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Adjust as needed */
    text-align: center; /* Center-align content inside the container */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}


button[type="submit"] {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}